/* RESET RULES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
}

/* CUSTOM PROPERTIES */

:root {
  --btn-color: #0061ff;
  --hero-color: #b4d0e7;
  --grey-col: #f5f5f5;
  --green-col: #a2d39b;
  --bord-col: #61082b;
  --red-col: #ff1c1c;
  --azure-col: #0093ce;
  --light-blue-col: #b4d0e7;
  --blue-col: #0d2481;
  --yellow-col: #ffd830;
  --footer-color: #000000;
}

/* LAYOUT RULES */

.container-bg {
  max-width: 1920px;
  padding: 0;
  margin: 0 auto;
}

.container {
  width: 1200px;
}

.container {
  width: 1000px;
}

.btn {
  background-color: var(--btn-color);
  padding: 4px 8px;
  color: white;
}

/* HEADER */

.navbar {
  width: 100%;
}

.navbar .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  gap: 35px;
  font-size: 18px;
}

/* DEBUG RULES */

.debug .container {
  border: 2px solid black;
}

.debug .row {
  border: 2px dotted red;
}

.debug .col {
  border: 2px solid rgb(26, 179, 37);
}
