/* RESET RULES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
}

/* CUSTOM PROPERTIES */

:root {
  --btn-color: #0061ff;
  --hero-color: #b4d0e7;
  --grey-col: #f5f5f5;
  --dark-grey-col: #ededee;
  /* I colori dei loghi probablimente 
  saranno in line, scelti dall'utente
  senza dover modificare CSS */
  /* --green-col: #a2d39b;
  --bord-col: #61082b;
  --red-col: #ff1c1c;
  --azure-col: #0093ce;
  --light-blue-col: #b4d0e7;
  --blue-col: #0d2481;
  --yellow-col: #ffd830; */
  --footer-color: #000000;
}

/* LAYOUT RULES */

.center-rules {
  padding: 0;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
}

.container {
  max-width: 1200px;
}

.container-sm {
  max-width: 1000px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  padding: 0px 25px;
}

.btn {
  background-color: var(--btn-color);
  padding: 0px 16px;
  line-height: 44px;
  text-align: center;
  display: inline-block;
  color: white;
}

.col-100 {
  width: 100%;
}

.col-60 {
  width: 60%;
}

.col-40 {
  width: 40%;
}

.col-33 {
  width: calc(100% / 3);
}

/* HEADER */

.navbar {
  width: 100%;
  padding: 14px 18px;
}

.navbar .row {
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: flex;
  align-items: center;
  /* padding: 20px 30px; */
  /* gap: 35px; */
  font-size: 16px;
}

.navbar .menu-list a {
  display: block;
  padding: 0px 16px;
}

.logo {
  display: block;
}

.navbar .menu-list .logo {
  display: block;

  padding: 0px;
}

/* MAIN */

/* HERO */
.hero {
  background-color: var(--hero-color);
  padding-top: 80px;
  padding-bottom: 20px;
  margin-bottom: 130px;
}

.row.hero-title {
  margin-bottom: 75px;
}

.hero .col-100 p {
  font-size: 78px;
  font-weight: bolder;
  /* padding-top: 96px; */
}

.row.hero-content {
  align-content: center;
}

.hero .col-40 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  align-items: flex-start;
}

.hero .col-40 :nth-last-child(2) {
  flex-grow: 1;
}

.hero-icon {
  font-size: 42px;
}

.hero .col-60 img {
  object-fit: cover;
  max-width: 100%;
}

/* SUBSCRIPTION PLANS */

.subscribe-title h1 {
  margin-bottom: 70px;
  font-size: 32px;
}

.subscribe-title {
  margin-bottom: 40px;
  font-weight: 300;
}

.pay-time-choice {
  display: flex;
  gap: 40px;
  font-size: 18px;
}

.subscribe-options {
  row-gap: 30px;
}

.card {
  font-size: 11px;
  border: 1px solid var(--dark-grey-col);
}

.card-header {
  text-align: center;
  font-size: 12px;
  padding: 12px 0px;
  border-bottom: 1px solid var(--dark-grey-col);
}

.card-body {
  padding: 20px 40px;
}

.tier {
  line-height: 15px;
  margin-bottom: 30px;
}

.tier h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.tier p {
  font-weight: 300;
}

.tier-feature {
  margin-bottom: 40px;
}

.tier-feature li {
  padding: 14px 0px;
}

/* DEBUG RULES */

.debug .container {
  border: 2px solid black;
}

.debug .row {
  border: 2px dotted red;
}

.debug .col-33,
.debug .col-40,
.debug .col-60,
.debug .col-100 {
  border: 2px solid rgb(26, 179, 37);
}
